<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>Home</span></a>
    <a href="how.html" class="navigation-links-navlink1"><span>Chat</span></a>
    <a href="search.html" class="navigation-links-navlink2">
      <span>Search</span>
    </a>
    <a href="music.html" class="navigation-links-navlink3">
      <span>Music</span>
    </a>
    <span class="navigation-links-text"><span>More</span></span>
  </nav>
</div>
